.content-start {
  align-content: flex-start !important;
}

.content-center {
  align-content: center !important;
}

.content-end {
  align-content: flex-end !important;
}

.content-between {
  align-content: space-between !important;
}

.content-around {
  align-content: space-around !important;
}
