.self-auto {
  align-self: auto !important;
}

.self-start {
  align-self: flex-start !important;
}

.self-center {
  align-self: center !important;
}

.self-end {
  align-self: flex-end !important;
}

.self-stretch {
  align-self: stretch !important;
}

