.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.hidden	{
  display: none !important;
}

.flex	{
  display: flex !important;
}

.inline-flex {
  display: inline-flex !important;
}
