.max-w-sm {
  max-width: 24rem !important; /* 384px */
}
.max-w-md {
  max-width: 28rem !important; /* 448px */
}
.max-w-lg {
  max-width: 32rem !important; /* 512px */
}
.max-w-2xl {
  max-width: 42rem !important; /* 672px */
}
