.w-1 {
  width: 0.25rem !important;
}

.w-2 {
  width: 0.5rem !important;
}

.w-3 {
  width: 0.75rem !important;
}

.w-4 {
  width: 1rem !important;
}

.w-6 {
  width: 1.5rem !important;
}

.w-8 {
  width: 2rem !important;
}

.w-10 {
  width: 2.5rem !important;
}

.w-12 {
  width: 3rem !important;
}

.w-16 {
  width: 4rem !important;
}

.w-24 {
  width: 6rem !important;
}

.w-32 {
  width: 8rem !important;
}

.w-48 {
  width: 12rem !important;
}

.w-64 {
  width: 16rem !important;
}

.w-auto {
  width: auto !important;
}

.w-px {
  width: 1px !important;
}

.w-1\/2,
.w-6\/12 {
  width: 50% !important;
}

.w-1\/3,
.w-4\/12 {
  width: 33.33333% !important;
}

.w-2\/3,
.w-8\/12 {
  width: 66.66667% !important;
}

.w-1\/4,
.w-3\/12 {
  width: 25% !important;
}

.w-3\/4,
.w-9\/12 {
  width: 75% !important;
}

.w-1\/5 {
  width: 20% !important;
}

.w-2\/5 {
  width: 40% !important;
}

.w-3\/5	{
  width: 60% !important;
}

.w-4\/5	{
  width: 80% !important;
}

.w-1\/6,
.w-2\/12	{
  width: 16.66667% !important;
}

.w-5\/6,
.w-10\/12	{
  width: 83.33333% !important;
}

.w-1\/12 {
  width: 8.33333% !important;
}

.w-5\/12 {
  width: 41.66667% !important;
}

.w-7\/12 {
  width: 58.33333% !important;
}

.w-11\/12 {
  width: 91.66667% !important;
}

.w-full,
.w-12\/12	{
  width: 100% !important;
}

.w-screen	{
  width: 100vw !important;
}

.w-fit {
  width: fit-content;
}

.mw-btn {
  min-width: 96px;
}