<html xmlns:th="http://www.thymeleaf.org">
<link>
<title>Login</title>
<!--<link href='/static/css/theme-chalk/index.css' rel="stylesheet" media="all"/>-->

<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/css/util.css">
<link rel="stylesheet" type="text/css" href="/static/js/Login_v3/css/main.css">
</head>
<body>
<!--<div>
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autocomplete="off" placeholder="User name"
                   class="el-input__inner"/>

            <input type="password" id="password" name="password" placeholder="Password" class="el-input__inner"/>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
        </fieldset>
    </form>
</div>-->



    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form name="f" action="" method="post" class="login100-form validate-form">
					<span class="login100-form-logo">
						<!--<i class="zmdi zmdi-landscape"></i>-->
                        <img src="/static/js/Login_v3/images/cup.png" width="70" />
					</span>

                    <span class="login100-form-title p-b-34 p-t-27">
						FunBet Login
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <!--<div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>-->
                    <p th:if="${param.error}" class="text-warning">
                        Invalid username and password.
                    </p>
                    <br/>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <!--<div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            Forgot Password?
                        </a>
                    </div>-->
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="/static/js/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/Login_v3/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/Login_v3/vendor/bootstrap/js/popper.js"></script>
    <script src="/static/js/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/Login_v3/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/Login_v3/vendor/daterangepicker/moment.min.js"></script>
    <script src="/static/js/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/Login_v3/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/Login_v3/js/main.js"></script>
</body>
</html>