<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="about:blank">
</head>
<body>
<div id="team-list">
    <table>
        <thead>
        <tr>
            <th>Index</th>
            <th>Team Name</th>
        </tr>
        </thead>
        <tbody v-for="(t, index) in teams">
        <tr>
            <td>{{index}}</td>
            <td>{{t.name}}</td>
        </tr>
        </tbody>
    </table>
    <br /><br />
    <label>Add new team</label>
    <div>
        <label>Name: <input type="text" v-model="name" placeholder="Team name"/> </label>
        <button v-on:click="saveTeam">Save</button>
    </div>
</div>
<script src="/static/js/team.js"></script>
</body>
</html>


