<html>
<head>
    <!-- Add this to <head> -->
    <link href='/static/css/default.css' rel="stylesheet" media="all"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue2-datepicker/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="about:blank">
    <style>
    </style>
</head>
<body>
<div id="header-bar">
    <div>
        <a href="/logout">logout</a> |
        <a href="#" v-on:click="showProfile">Hello {{profile.name}}. Need to update???</a>
    </div>
    <br />
    <div id="user-profile">
        <label></label>
        <div v-if="isShowProfile == true">
            <label>Name: <input type="text" v-model="profile.name" placeholder="Full Name"/> </label>
            <label>Email: <input type="email" v-model="profile.email" placeholder="email"/></label>
            <label>Password: <input type="password" v-model="profile.password" placeholder="password"></label>
            <button v-on:click="saveProfile">Save Profile</button>
        </div>
    </div>
    <br />
</div>


<div id="tournament-list">
    <table>
        <thead>
        <tr>
            <th>Tournament Name</th>
            <th>Current default money bet</th>
        </tr>
        </thead>
        <tbody v-for="t in tournaments">
        <tr>
            <td><a href="#" v-on:click="showTournamentDetail(t)">{{t.name}}</a></td>
            <td>{{t.defaultMoneyBet}}</td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<label>User Match details</label>
<br/><br/>

<div id="match-detail" v-if="showMatches"  style="overflow-x:auto;">
    <a href="#" v-on:click="showRecentMatches">Recent Matches</a> |
    <a href="#" v-on:click="showAllMatches">All Matches</a>
    <br />
    <table>
        <thead>
        <tr>
            <th></th>
            <th><input type="checkbox" v-model="selectAllMatches"></th>
            <th>Team 1</th>
            <th>Score</th>
            <th>Match Betting</th>
            <th>Team 2</th>
            <th>Stake</th>
            <th>Start Time</th>
            <th>Selected Team</th>
            <th>Betting Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody v-for="(t, index) in matches">
        <tr>
            <td>{{index + 1}}</td>
            <td><input name="match" type="checkbox" :value="t.matchId" v-model="selectedMatches"></td>
            <td>{{t.teamName1}}</td>
            <td><span v-if="t.score1 != null">{{t.score1}} - {{t.score2}}</span></td>
            <td>{{t.betScore1}} - {{t.betScore2}}</td>
            <td>{{t.teamName2}}</td>
            <td>{{t.betMoney}}</td>
            <td>{{t.startTime}}</td>
            <td>{{t.selectedTeamName}}</td>
            <td>{{t.betStatus}}</td>
            <td>
                <div v-if="t.editable">
                    <span>
                        <button v-on:click="showSelectedTeam(t)">Choose Team</button>
                        <span v-if="t.needChooseTeam">
                            <select v-model="t.selectedTeamId">
                                <option :value="t.teamId1">{{t.teamName1}}</option>
                                <option :value="t.teamId2">{{t.teamName2}}</option>
                                <option></option>
                            </select>
                            <button v-on:click="saveSelectedTeam(t)">Save</button>
                        </span>
                    </span>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<div id="match-user-board" v-if="showReport"  style="overflow-x:auto;">
    <label>User Report Section</label>

    <br/>
    <span>
        <div>
            <label>User List</label>
        (Select All<input type="checkbox" v-model="selectAllUsers">)
        <div id="user-list" v-for="t in users">
            <input name="user" type="checkbox" :value="t.id" v-model="selectedUsers">
            <span><label>{{t.name}}</label> <span v-if="t.lock">(Locked)</span></span>
        </div>
        </div>
        <div>
            <label>Match list</label>
            <div id="team-list" v-for="m in matches">

    </div>
        </div>
    </span>
    <br/>
    <button v-on:click="buildReportDashboard">Show report</button>
    <br/><br/>
    <table>
        <thead>
        <tr>
            <td/>
            <td v-for="h in matchReport.matchHeaders">{{h.name}}</td>
        </tr>
        </thead>
        <tbody v-for="(r, idx1) in matchReport.matchRows">
        <tr>
            <td v-for="(ele, idx2) in r" v-if="idx2 == 0">
                {{ele.teamName1}} ({{ele.follower1}}) - {{ele.teamName2}} ({{ele.follower2}})
            </td>
            <td v-else>
                <span v-if="ele.selectedTeamName == null"> - {{ele.betStatus}}</span>
                <span v-else>{{ele.selectedTeamName}} - {{ele.betStatus}}</span>
            </td>
        </tr>
        </tbody>
    </table>
    <br/><br/>
    <table>
        <thead>
        <tr>
            <td>Player</td>
            <td>Contribution</td>
            <td>Remaining Debt</td>
            <td>Other fee</td>
            <td>Bonus</td>
            <!--<td v-if="loggedInUser.role == 'ADMIN'">
                <button v-on:click="clearAllDebt">Clear all debt</button>
            </td>-->
        </tr>
        </thead>
        <tbody v-for="t in financeReport.reports">
        <tr>
            <td>{{t.name}}</td>
            <td>{{t.contribution}}</td>
            <td>{{t.remainingDebt}}
            <span  v-if="loggedInUser.role == 'ADMIN'">
                &nbsp; <button v-on:click="clearDebt(t.userId)">Clear debt</button>
            </span>
            </td>
            <td>{{t.remainingDebtOtherFee}}
                <span  v-if="loggedInUser.role == 'ADMIN'">
                     &nbsp;
                    <button v-on:click="showAddFee(t)">Add fee</button>
                    <div v-if="t.enableAddFee">
                        <input type="number" v-model="t.fee" placeholder="How much" />
                        <input type="text" v-model="t.feeNote" placeholder="Note"/>
                        <button v-on:click="saveFee(t)">Save</button>
                    </div>
                    <button v-on:click="clearFee(t)">Clear</button>
                </span>

            </td>
            <td>{{t.remainingBonus}}
                <span  v-if="loggedInUser.role == 'ADMIN'">
                &nbsp; <button v-on:click="clearBonus(t.userId)">Clear</button>
            </span>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <label>Other Fee Report</label>
    <ul>
        <li v-for="o in otherFees"> {{o.otherFee}} ({{ o.note }}) </li>
    </ul>
    <div v-if="loggedInUser.role == 'ADMIN'">
        <span>
            <input type="number" placeholder="Other Fee" v-model="otherFee.amount" />
            <input type="text" placeholder="Note" v-model="otherFee.note" />
            <button v-on:click="saveOtherFee">Save</button>
        </span>
    </div>
    <br/>
    <label>Total Contribution: </label> {{financeReport.totalContribution}} <br/>

    <label>Total remaining debt: </label> {{financeReport.totalRemainingDebt}}
</div>
<div id="bonus-section" v-if="showBonusSection">
    <br />
    <label>PREDICT SECTION</label>
    <br />
    <table>
        <thead>
        <tr>
            <th>Bonus Name</th>
            <th>No of teams</th>
            <th>End Time (UTC +07)</th>
            <th>Amount of bonus</th>
            <th>Selected teams</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody v-for="(t, index) in bonuses">
        <tr>
            <td>{{t.name}}</td>
            <td>{{t.noOfTeam}}</td>
            <td>{{t.endTimestamp}}</td>
            <td>{{t.bonusAmount}}</td>
            <td>{{t.teams}}</td>
            <td>
                <div v-if="t.editable"><button v-on:click="predictNow(t)">Predict Now</button></div>
                <div v-else><button v-on:click="showOtherPredict(t)">Show Others</button></div>
                </td>
        </tr>
        </tbody>
    </table>


    <div id="predict-answer-section" v-if="showAnswerSection">
        <label>Please select {{currentPrediction.noOfTeam}} team(s)</label>
        <div id="answer-team-list" v-for="t in teams">
            <input name="answerTeam" type="checkbox" :value="t.id" v-model="currentPrediction.selectedTeamIds">
            <span><label>{{t.name}}</label> </span>
        </div>
        <button v-on:click="saveUserPrediction">Save</button>
    </div>
    <div id="predict-all-report" v-if="showAllSection">
        <label>Other predictions</label><br />
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Selected teams</th>
            </tr>
            </thead>
            <tbody v-for="(t, index) in allPredictions">
            <tr>
                <td>{{t.userName}}</td>
                <td>{{t.teams}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<script src="/static/js/header.js"></script>
<script src="/static/js/tournament.js"></script>
</body>
</html>


