<html>
<head>
    <!-- Add this to <head> -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue2-datepicker/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="shortcut icon" href="about:blank">
</head>
<body>
<div id="tournament-list">
    <table>
        <thead>
        <tr>
            <th>Tournament Name</th>
            <th>Current default money bet</th>
        </tr>
        </thead>
        <tbody v-for="t in tournaments">
        <tr>
            <td><a href="#" v-on:click="showTournamentDetail(t)">{{t.name}}</a></td>
            <td>{{t.defaultMoneyBet}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="match-detail" v-if="showMatches">
    <table>
        <thead>
        <tr>
            <th>Team 1</th>
            <th>Match Betting</th>
            <th>Team 2</th>
            <th>Stake</th>
            <th>Start Time</th>
            <td>Selected Team</td>
            <th>Score</th>
            <th>Betting Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody v-for="(t, index) in matches">
        <tr>
            <td>{{t.teamName1}}</td>
            <td>{{t.betScore1}} - {{t.betScore2}}</td>
            <td>{{t.teamName2}}</td>
            <td>{{t.betMoney}}</td>
            <td>{{t.startTime}}</td>
            <td>{{t.selectedTeamName}}</td>
            <td><span v-if="t.score1 != null">{{t.score1}} - {{t.score2}}</span></td>
            <td>{{betStatus}}</td>
            <td>
                <div>
                    <button v-on:click="showSelectedTeam(t)">Choose Team</button>
                    <div v-if="t.needChooseTeam">
                        <select v-model="t.selectedTeamId">
                            <option :value="t.teamId1">{{t.teamName1}}</option>
                            <option :value="t.teamId2">{{t.teamName2}}</option>
                            <option></option>
                        </select>
                        <button v-on:click="saveSelectedTeam(t)">Save</button>
                        <button v-on:click="seeAll(t)">See All</button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="match-user-board">
    <table>
        <thead>
            <tr>
                <td v-for="h in matchHeaders">{{h.name}}</td>
            </tr>
        </thead>
        <tbody v-for="(r, idx1) in matchRows">
            <tr v-for="(ele, idx2) in r">
                <td>{{idx1}} - {{idx2}}</td>
                <td>{{ele.selectedTeamName}} - {{ele.betStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/static/js/tournament.js"></script>
</body>
</html>


