<html>
<head>
    <!-- Add this to <head> -->
    <link href='/static/css/default.css' rel="stylesheet" media="all"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue2-datepicker/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="shortcut icon" href="about:blank">
    <style>
    </style>
</head>
<body>
<div id="tournament-list">
    <table>
        <thead>
        <tr>
            <th>Tournament Name</th>
            <th>Current default money bet</th>
        </tr>
        </thead>
        <tbody v-for="t in tournaments">
        <tr>
            <td><a href="#" v-on:click="showTournamentDetail(t)">{{t.name}}</a></td>
            <td>{{t.defaultMoneyBet}}</td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<label>User Match details</label>
<br/><br/>
<div id="match-detail" v-if="showMatches">
    <table>
        <thead>
        <tr>
            <th>Team 1</th>
            <th>Score</th>
            <th>Match Betting</th>
            <th>Team 2</th>
            <th>Stake</th>
            <th>Start Time</th>
            <th>Selected Team</th>
            <th>Betting Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody v-for="(t, index) in matches">
        <tr>
            <td>{{t.teamName1}}</td>
            <td><span v-if="t.score1 != null">{{t.score1}} - {{t.score2}}</span></td>
            <td>{{t.betScore1}} - {{t.betScore2}}</td>
            <td>{{t.teamName2}}</td>
            <td>{{t.betMoney}}</td>
            <td>{{t.startTime}}</td>
            <td>{{t.selectedTeamName}}</td>
            <td>{{t.betStatus}}</td>
            <td>
                <div>
                    <span>
                        <button v-on:click="showSelectedTeam(t)">Choose Team</button>
                        <span v-if="t.needChooseTeam">
                            <select v-model="t.selectedTeamId">
                                <option :value="t.teamId1">{{t.teamName1}}</option>
                                <option :value="t.teamId2">{{t.teamName2}}</option>
                                <option></option>
                            </select>
                            <button v-on:click="saveSelectedTeam(t)">Save</button>
                        </span>
                    </span>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<div id="match-user-board" v-if="showReport">
    <label>User Report Section</label>

    <br/>
    <span>
        <div>
            <label>User List</label>
        <div id="user-list" v-for="t in users">
            <input name="user" type="checkbox" :value="t.id" v-model="selectedUsers"><label>{{t.name}}</label>
        </div>
        </div>
        <div>
            <label>Match list</label>
            <div id="team-list" v-for="m in matches">
        <input name="match" type="checkbox" :value="m.id" v-model="selectedMatches"><label>{{m.teamName1}} - {{m.teamName2}}</label>
    </div>
        </div>
    </span>
    <button v-on:click="buildReportDashboard">Show report</button>
    <table>
        <thead>
        <tr>
            <td/>
            <td v-for="h in matchHeaders">{{h.name}}</td>
        </tr>
        </thead>
        <tbody v-for="(r, idx1) in matchRows">
        <tr>
            <td v-for="(ele, idx2) in r" v-if="idx2 == 0">{{ele.teamName1}} - {{ele.teamName2}}</td>
            <td v-else>
                <span v-if="ele.selectedTeamName == null">NOT SELECTED - {{ele.betStatus}}</span>
                <span v-else>{{ele.selectedTeamName}} - {{ele.betStatus}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/static/js/tournament.js"></script>
</body>
</html>


