<html>
<head>
    <link href='/static/css/default.css' rel="stylesheet" media="all"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="about:blank">
</head>
<body>
<div id="user-list">
    <table>
        <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Locked???</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody v-for="(user, index) in users">
        <tr>
            <td>{{user.name}}</a></td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.lock}}</td>
            <td><button v-on:click="deleteUser(user, index)">Delete</button> <button v-on:click="editUser(user)">Edit</button>
                <button v-on:click="lockUser(user)"><label v-if="user.lock">Unlock</label><label v-else>Lock</label></button></td>
        </tr>
        </tbody>

    </table>
    <br/><br/><br/>
    <label>Add new user</label> <br/>
    <div>
        <label>Name: <input type="text" v-model="name" placeholder="Full Name"/> </label>
        <label>Email: <input type="email" v-model="email" placeholder="email"/></label>
        <label>Password: <input type="password" v-model="password" placeholder="password"></label>
        <button v-on:click="saveUser">Save</button>
    </div>
</div>
<script src="/static/js/user.js"></script>
</body>
</html>


